.container {
    padding-top: 30px;
    padding-right: 21px;
}
.img-grid{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 70px;
}
.img-wrap{
    height: 0;
    padding: 63% 0;
    /* padding controls height, will always be perfectly square regardless of width */
    position: relative;
    opacity: 0.85;
}
.img-wrap img{
    width: 80%;
    height: 90%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 1.2rem;
    padding: 1%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.model-container {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 50px;
}

.model-wrap {
    height: 0;
    padding: 50% 0;
    /* padding controls height, will always be perfectly square regardless of width */
    position: relative;
}

.model-wrap img{
    width: 80%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10rem;
    padding: 1%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}
/* =========================== MEDIA QUERIES (Medium DEVIECS) ================== */

@media screen  and (max-width: 1024px) {

}

/* =========================== MEDIA QUERIES (SMALL DEVIECS) ================== */

@media screen and (max-width: 600px) {
    .container {
        margin-left: 15px;
    }
    .img-grid{
        margin: 5px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 20px;
    }
    .img-wrap {
        padding: 50% 0;
    }
    .img-wrap img{
        width: 80%;
    }
}